%ViewBag.Title = "Home";

/
  Hero Section
  \==================================================
%section#intro.tp--intro.tp--intro-dark.tp--slider-single.tp--owl-carousel-single.owl-carousel.owl-theme.tp--intro-height-100{"data-carousel-options" => "{ \"items\": \"1\", \"nav\": true, \"mouseDrag\": false, \"touchDrag\": false, \"responsive\": { \"0\": { \"items\":\"1\" } } }"}
  .item.tp--intro-content-center.text-sm-center.tp--with-image-light{:style => "background: url('images/bg-intro-3.jpg');"}
    .container
      .row.tp--col-sm-vertical-align.tp--col-xs-vertical-align.tp--vertical-align-intro
        .col-sm-12
          %div
            %h1 We deliver delightful user experiences
            %p Donec sed odio dui. Etiam porta sem malesuada magna sem mollis sed odio dui malesuada euismod.
            %a.btn.btn-lg.btn-primary.btn-circular.tp--scroll{:href => "#about"} Learn more
  .item.tp--intro-content-center.text-sm-center.tp--with-image{:style => "background: url('images/bg-intro-4.jpg');"}
    .container
      .row.tp--col-sm-vertical-align.tp--col-xs-vertical-align.tp--vertical-align-intro
        .col-sm-12
          %div
            %h1 Start freelancing today
            %p Donec sed odio dui. Etiam porta sem malesuada magna sem mollis sed odio dui malesuada euismod.
            %a.btn.btn-lg.btn-primary.btn-circular{:href => "#", :role => "button"} Get started
/
  About Section
  \==================================================
%section#about.tp--section.tp--features.tp--features-2.text-center
  .page-header.text-center.tp--title-overlay
    %h2{"data-title" => "About"}
      %span What We Do
  .container
    .row
      .col-sm-4.tp--feature
        .tp--feature-wrapper.tp--hover-1
          .tp--icon-wrapper
            %i.tp--icon-gradient.icon-screen-desktop.icon-large
          %h3 Sky's the limit
          %p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
      .col-sm-4.tp--feature
        .tp--feature-wrapper.tp--hover-1
          .tp--icon-wrapper
            %i.tp--icon-gradient.icon-drop.icon-large
          %h3 Big Ideas
          %p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
      .col-sm-4.tp--feature
        .tp--feature-wrapper.tp--hover-1
          .tp--icon-wrapper
            %i.tp--icon-gradient.icon-drop.icon-large
          %h3 Creative Execution
          %p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
    / /.row
/
  Portfolio
  \==================================================
%section#projects.tp--section.tp--section-light.tp--portfolio.tp--portfolio-2.tp--portfolio-hover-2
  .page-header.text-center.tp--title-overlay
    %h2{"data-title" => "Portfolio"}
      %span Our Work
  %nav#filters.tp--portfolio-filters.text-center
    %ul.tp--menu-list.clearfix
      %li.tp--menu-item.tp--menu-item--current
        %button.tp--menu-link{"data-filter-value" => "*"} Show All
      %li.tp--menu-item
        %button.tp--menu-link{"data-filter-value" => ".websites"} Websites
      %li.tp--menu-item
        %button.tp--menu-link{"data-filter-value" => ".icons"} Icons
      %li.tp--menu-item
        %button.tp--menu-link{"data-filter-value" => ".print"} Print
      %li.tp--menu-item
        %button.tp--menu-link{"data-filter-value" => ".mobile"} Mobile
      %li.tp--menu-line
  #portfolio.tp--portfolio-grid{"data-isotope-options" => "{ \"columnWidth\": 200, \"itemSelector\": \".tp--portfolio-item\" }"}
    .col-sm-6.col-md-4.tp--portfolio-item.websites
      = image_tag "thumbs/thumb1.jpg"
      .caption
        .caption-text
          %h1 Project A
          %p
            %a.preview.popup-gallery{:href => "thumbs/thumb1.jpg"}
              %i.icon-plus
              Preview
            %a.link{:href => "#"}
              %i.icon-link
              Website
    .col-sm-6.col-md-4.tp--portfolio-item.websites
      = image_tag "thumbs/thumb2.jpg"
      .caption
        .caption-text
          %h1 Project B
          %p
            %a.preview.popup-gallery{:href => "images/thumbs/thumb1.jpg"}
              %i.icon-plus
              Preview
            %a.link{:href => "#"}
              %i.icon-link
              Website
    .col-sm-6.col-md-4.tp--portfolio-item.mobile
      %img{:alt => "", :src => "images/thumbs/thumb3.jpg"}/
      .caption
        .caption-text
          %h1 Project C
          %p
            %a.preview.popup-gallery{:href => "images/thumbs/thumb1.jpg"}
              %i.icon-plus
              Preview
            %a.link{:href => "#"}
              %i.icon-link
              Website
    .col-sm-6.col-md-4.tp--portfolio-item.mobile
      %img{:alt => "", :src => "images/thumbs/thumb4.jpg"}/
      .caption
        .caption-text
          %h1 Project D
          %p
            %a.preview.popup-gallery{:href => "images/thumbs/thumb1.jpg"}
              %i.icon-plus
              Preview
            %a.link{:href => "#"}
              %i.icon-link
              Website
    .col-sm-6.col-md-4.tp--portfolio-item.mobile
      %img{:alt => "", :src => "images/thumbs/thumb5.jpg"}/
      .caption
        .caption-text
          %h1 Project E
          %p
            %a.preview.popup-gallery{:href => "images/thumbs/thumb1.jpg"}
              %i.icon-plus
              Preview
            %a.link{:href => "#"}
              %i.icon-link
              Website
    .col-sm-6.col-md-4.tp--portfolio-item.icons
      %img{:alt => "", :src => "images/thumbs/thumb6.jpg"}/
      .caption
        .caption-text
          %h1 Project F
          %p
            %a.preview.popup-gallery{:href => "images/thumbs/thumb1.jpg"}
              %i.icon-plus
              Preview
            %a.link{:href => "#"}
              %i.icon-link
              Website
    .col-sm-6.col-md-4.tp--portfolio-item.print
      %img{:alt => "", :src => "images/thumbs/thumb7.jpg"}/
      .caption
        .caption-text
          %h1 Project G
          %p
            %a.preview.popup-gallery{:href => "images/thumbs/thumb1.jpg"}
              %i.icon-plus
              Preview
            %a.link{:href => "#"}
              %i.icon-link
              Website
    .col-sm-6.col-md-4.tp--portfolio-item.print
      %img{:alt => "", :src => "images/thumbs/thumb8.jpg"}/
      .caption
        .caption-text
          %h1 Project H
          %p
            %a.preview.popup-gallery{:href => "images/thumbs/thumb1.jpg"}
              %i.icon-plus
              Preview
            %a.link{:href => "#"}
              %i.icon-link
              Website
    .col-sm-6.col-md-4.tp--portfolio-item.websites
      %img{:alt => "", :src => "images/thumbs/thumb9.jpg"}/
      .caption
        .caption-text
          %h1 Project I
          %p
            %a.preview.popup-gallery{:href => "images/thumbs/thumb1.jpg"}
              %i.icon-plus
              Preview
            %a.link{:href => "#"}
              %i.icon-link
              Website
/
  Team
  \==================================================
%section#team.tp--section.tp--team.tp--team-2
  .page-header.text-center.tp--title-overlay
    %h2{"data-title" => "Team"}
      %span Meet Our Team
  .owl-carousel.tp--slider-multiple
    .item
      = image_tag "user-avatar4.jpg"
      -# %img.display-pic{:alt => "Team Member", :src => "images/user-avatar4.jpg"}/
      %h3.name David Parrelli
      %h4.title Product Manager
      %p.desc
        Insatiable appetite for all things digital. Product guy. Founder of
        = succeed "." do
          %a{:href => "https://healthcoach.io", :target => "blank"} @HealthCoachApp
      %a.icon.tp--icon-twitter-hover{:href => "http://www.twitter.com/dparrelli", :target => "_blank"}
        %i.fa.fa-twitter
      %a.icon.tp--icon-facebook-hover{:href => "#", :target => "_blank"}
        %i.fa.fa-facebook
      %a.icon.tp--icon-linkedin-hover{:href => "http://www.linkedin.com/pub/david-parrelli/17/b22/a11", :target => "_blank"}
        %i.fa.fa-linkedin
      %a.icon.tp--icon-dribbble-hover{:href => "http://dribbble.com/dparrelli", :target => "_blank"}
        %i.fa.fa-dribbble
    .item
      %img.display-pic{:alt => "Team Member", :src => "user-avatar5.jpg"}/
      %h3.name Pete Burg
      %h4.title UI Designer
      %p.desc Maecenas eu placerat ante. Fusce ut neque justo, et aliquet enim. In hac habitasse platea dictumst. Nullam commodo neque erat.
      %a.icon.tp--icon-twitter-hover{:href => "http://www.twitter.com/dparrelli", :target => "_blank"}
        %i.fa.fa-twitter
      %a.icon.tp--icon-facebook-hover{:href => "#", :target => "_blank"}
        %i.fa.fa-facebook
      %a.icon.tp--icon-linkedin-hover{:href => "http://www.linkedin.com/pub/david-parrelli/17/b22/a11", :target => "_blank"}
        %i.fa.fa-linkedin
      %a.icon.tp--icon-dribbble-hover{:href => "http://dribbble.com/dparrelli", :target => "_blank"}
        %i.fa.fa-dribbble
    .item
      %img.display-pic{:alt => "Team Member", :src => "images/user-avatar6.jpg"}/
      %h3.name John Hilton
      %h4.title Senior Developer
      %p.desc Maecenas eu placerat ante. Fusce ut neque justo, et aliquet enim. In hac habitasse platea dictumst. Nullam commodo neque erat.
      %a.icon.tp--icon-twitter-hover{:href => "http://www.twitter.com/dparrelli", :target => "_blank"}
        %i.fa.fa-twitter
      %a.icon.tp--icon-facebook-hover{:href => "#", :target => "_blank"}
        %i.fa.fa-facebook
      %a.icon.tp--icon-linkedin-hover{:href => "http://www.linkedin.com/pub/david-parrelli/17/b22/a11", :target => "_blank"}
        %i.fa.fa-linkedin
      %a.icon.tp--icon-dribbble-hover{:href => "http://dribbble.com/dparrelli", :target => "_blank"}
        %i.fa.fa-dribbble
    .item
      %img.display-pic{:alt => "Team Member", :src => "images/user-avatar1.jpg"}/
      %h3.name Sarah Miller
      %h4.title Creative Director
      %p.desc Maecenas eu placerat ante. Fusce ut neque justo, et aliquet enim. In hac habitasse platea dictumst. Nullam commodo neque erat.
      %a.icon.tp--icon-twitter-hover{:href => "http://www.twitter.com/dparrelli", :target => "_blank"}
        %i.fa.fa-twitter
      %a.icon.tp--icon-facebook-hover{:href => "#", :target => "_blank"}
        %i.fa.fa-facebook
      %a.icon.tp--icon-linkedin-hover{:href => "http://www.linkedin.com/pub/david-parrelli/17/b22/a11", :target => "_blank"}
        %i.fa.fa-linkedin
      %a.icon.tp--icon-dribbble-hover{:href => "http://dribbble.com/dparrelli", :target => "_blank"}
        %i.fa.fa-dribbble
    .item
      %img.display-pic{:alt => "Team Member", :src => "images/user-avatar2.jpg"}/
      %h3.name Tracy Wheeler
      %h4.title Developer
      %p.desc Maecenas eu placerat ante. Fusce ut neque justo, et aliquet enim. In hac habitasse platea dictumst. Nullam commodo neque erat.
      %a.icon.tp--icon-twitter-hover{:href => "http://www.twitter.com/dparrelli", :target => "_blank"}
        %i.fa.fa-twitter
      %a.icon.tp--icon-facebook-hover{:href => "#", :target => "_blank"}
        %i.fa.fa-facebook
      %a.icon.tp--icon-linkedin-hover{:href => "http://www.linkedin.com/pub/david-parrelli/17/b22/a11", :target => "_blank"}
        %i.fa.fa-linkedin
      %a.icon.tp--icon-dribbble-hover{:href => "http://dribbble.com/dparrelli", :target => "_blank"}
        %i.fa.fa-dribbble
    .item
      %img.display-pic{:alt => "Team Member", :src => "images/user-avatar3.jpg"}/
      %h3.name Adrian Filloti
      %h4.title Account Manager
      %p.desc Maecenas eu placerat ante. Fusce ut neque justo, et aliquet enim. In hac habitasse platea dictumst. Nullam commodo neque erat.
      %a.icon.tp--icon-twitter-hover{:href => "http://www.twitter.com/dparrelli", :target => "_blank"}
        %i.fa.fa-twitter
      %a.icon.tp--icon-facebook-hover{:href => "#", :target => "_blank"}
        %i.fa.fa-facebook
      %a.icon.tp--icon-linkedin-hover{:href => "http://www.linkedin.com/pub/david-parrelli/17/b22/a11", :target => "_blank"}
        %i.fa.fa-linkedin
      %a.icon.tp--icon-dribbble-hover{:href => "http://dribbble.com/dparrelli", :target => "_blank"}
        %i.fa.fa-dribbble
/
  Testimonials
  \==================================================
%section#testimonials.tp--section.tp--section-dark.tp--gradient-3.tp--slider-single.tp--testimonials.tp--testimonials-1.tp--padding-md.tp--overflow-hidden
  .page-header.text-center.tp--title-overlay
    %h2{"data-title" => "Testimonials"}
      %span What Our Clients Think
  .tp--owl-carousel-single-auto.owl-carousel.owl-theme{"data-carousel-options" => "{ \"items\":\"1\", \"dots\": true, \"responsive\": { \"0\": { \"items\":\"1\" } } }"}
    .item
      .container
        .row
          .col-lg-12
            %blockquote
              %p "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!"
              %small
                David Parrelli -
                %a{:href => "http://www.twitter.com/dparrelli", :target => "_blank"} @dparrelli
    .item
      .container
        .row
          .col-lg-12
            %blockquote
              .row
                .col-sm-12
                  %p "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!"
                  %small
                    David Parrelli -
                    %a{:href => "http://www.twitter.com/dparrelli", :target => "_blank"} @dparrelli
/
  Clients
  \==================================================
%section#clients.tp--section.tp--partners.tp--partners-greyscale
  .container
    .row
      .col-md-12
        .owl-carousel.tp--slider-multiple{"data-carousel-options" => "{ \"autoplay\":\"true\", \"autoplayTimeout\":\"4000\",  \"items\":\"5\", \"mouseDrag\": false, \"touchDrag\": false }"}
          .item
            %img{:alt => "Partner 1", :src => "images/partners/partner-1.png"}/
          .item
            %img{:alt => "Partner 2", :src => "images/partners/partner-2.png"}/
          .item
            %img{:alt => "Partner 3", :src => "images/partners/partner-3.png"}/
          .item
            %img{:alt => "Partner 4", :src => "images/partners/partner-4.png"}/
          .item
            %img{:alt => "Partner 5", :src => "images/partners/partner-5.png"}/
          .item
            %img{:alt => "Partner 6", :src => "images/partners/partner-6.png"}/
/
  Call to Action
  \==================================================
%section.tp--section.tp--cta.tp--cta-1.text-center.tp--section-light.tp--padding-md
  .container
    .row
      .col-lg-12
        %h3 We've helped hundreds of businesses improve their web presence.
        %p
          %a.btn.btn-primary.btn-lg.btn-circular.popup-modal{:href => "#modal-contact"} Get in touch today
/
  Footer
  \==================================================
%footer#footer.tp--footer.tp--footer-1.text-xs-center
  .container
    .row
      .col-sm-3
        .footer-text
          %h2 Prestige
          %p Prestige is a full-service agency that specialises in creating delightful experiences that your customers will love.
      .col-sm-2.col-sm-offset-1.m-top-sm-40
        %ul.list-unstyled
          %li
            %a{:href => "#"} About Us
          %li
            %a{:href => "#"} Our Team
          %li
            %a{:href => "#"}
              Jobs 
              %span.label.label-primary We're hiring!
      .col-sm-2.m-top-sm-40
        %ul.list-unstyled
          %li
            %a{:href => "#"} Our Work
          %li
            %a{:href => "#"} Our Services
          %li
            %a{:href => "#"} Contact us
      .col-sm-3.col-sm-offset-1
        %h3 Where to find us
        %p
          1024 Main Street, Vancouver BC
          %br>/
          +1 (123) 456-7890
        %p.muted © 2017 Olive Inc.
    .row.tp--social
      .col-lg-12.text-center
        %a.icon{:href => "http://www.twitter.com/dparrelli", :target => "_blank"}
          %i.fa.fa-twitter
        %a.icon{:href => "#", :target => "_blank"}
          %i.fa.fa-facebook
        %a.icon{:href => "http://www.dribbble.com/dparrelli", :target => "_blank"}
          %i.fa.fa-dribbble
        %a.icon{:href => "https://healthcoach.io", :target => "_blank"}
          %i.fa.fa-globe
/ Login Form
#modal-login.tp--authentication.text-center.white-popup.mfp-hide
  %section.tp--authentication-container
    .page-header
      %h3 Login to your account
    .row
      .col-sm-12
        %form#form_login.form-authentication
          .row.tp--social-login
            .col-xs-4
              %a.btn.btn-signup.tp--facebook.fa.fa-facebook{:href => "#", :title => "Facebook"}
            .col-xs-4
              %a.btn.btn-signup.tp--linkedin.fa.fa-linkedin{:href => "#", :title => "LinkedIn"}
            .col-xs-4
              %a.btn.btn-signup.tp--twitter.fa.fa-twitter{:href => "#", :title => "Twitter"}
            .col-xs-12
              %p.divider or
          .form-group
            %i.icon-envelope
            %input#id_login.form-control{:name => "login", :placeholder => "Enter your email", :type => "email", :value => ""}/
          .form-group
            %i.icon-lock
            %input#id_password.form-control{:name => "password", :placeholder => "Enter your password", :type => "password"}/
          %input.button{:name => "commit", :type => "submit", :value => "Login"}/
          .tp--authentication-footer
            %p.links.clearfix
              %a.pull-left{:href => "#"} Don't have an account? Sign up
              %a.pull-right{:href => "#"} Forgot your password?
/ Registration Form
#modal-register.tp--authentication.text-center.white-popup.mfp-hide
  %section.tp--authentication-container
    .page-header
      %h3 Register a new account
    .row
      .col-sm-12
        %form#form_register.form-authentication
          .row.tp--social-login
            .col-xs-4
              %a.btn.btn-signup.tp--facebook.fa.fa-facebook{:href => "#", :title => "Facebook"}
            .col-xs-4
              %a.btn.btn-signup.tp--linkedin.fa.fa-linkedin{:href => "#", :title => "LinkedIn"}
            .col-xs-4
              %a.btn.btn-signup.tp--twitter.fa.fa-twitter{:href => "#", :title => "Twitter"}
            .col-xs-12
              %p.divider or
          .form-group
            %i.icon-envelope
            %input#id_register.form-control{:name => "login", :placeholder => "Enter your email", :type => "email", :value => ""}/
          .form-group
            %i.icon-lock
            %input#id_password.form-control{:name => "password", :placeholder => "Enter your password", :type => "password"}/
          .form-group
            %i.icon-lock
            %input#id_password_reenter.form-control{:name => "password_reenter", :placeholder => "Re-enter your password", :type => "password"}/
          %input.button{:name => "commit", :type => "submit", :value => "Register your account"}/
          .tp--authentication-footer
            %p.disclaimer
              By registering an account, you agree with our
              %a{:href => "#"} Terms of Service
              and
              = succeed "." do
                %a{:href => "#"} Privacy Policy
            %p.links
              %a{:href => "#"} Already have an account? Login
/ Contact Form
#modal-contact.tp--contact.text-center.white-popup.mfp-hide
  .page-header
    %h3 Get in touch
    %p Feel free to get in touch with us by sending your message below.
  %form#contact-form{:action => "contact-form/contact.php", :method => "post", :role => "form"}
    .messages
    .controls
      .row
        .col-md-12
          %label{:for => "form_name"} Full Name *
          .row
            .col-md-6
              .form-group
                %label.sr-only{:for => "form_lastname"} First Name *
                %input#form_name.form-control{:name => "name", :placeholder => "First name", :required => "required", :type => "text"}/
                .help-block.with-errors
            .col-md-6
              .form-group
                %label.sr-only{:for => "form_lastname"} Last Name *
                %input#form_lastname.form-control{:name => "surname", :placeholder => "Last name", :required => "required", :type => "text"}/
                .help-block.with-errors
      .row
        .col-md-12
          .form-group
            %label{:for => "form_email"} Email *
            %input#form_email.form-control{:name => "email", :placeholder => "Please enter your email", :required => "required", :type => "email"}/
            .help-block.with-errors
      .row
        .col-md-12
          .form-group
            %label{:for => "form_message"} Message *
            %textarea#form_message.form-control{:name => "message", :placeholder => "Please enter your message", :required => "required", :rows => "4"}
            .help-block.with-errors
        .col-md-12.text-center
          %input.btn.btn-primary.btn-lg.btn-circular.btn-send{:type => "submit", :value => "Send your message"}/

