%section#intro.tp--intro.tp--intro-dark.tp--slider-single.tp--owl-carousel-single.owl-carousel.owl-theme.tp--intro-height-100{"data-carousel-options" => "{ \"items\": \"1\", \"nav\": true, \"mouseDrag\": false, \"touchDrag\": false, \"responsive\": { \"0\": { \"items\":\"1\" } } }"}
  .item.tp--intro-content-center.text-sm-center.tp--with-image-light.back-img
    .container
      .row.tp--col-sm-vertical-align.tp--col-xs-vertical-align.tp--vertical-align-intro
        .col-sm-12
          %div
            %h1 SZUKASZ DOMÓWKI NA DZISIAJ?
            %p Z nami to łatwiejsze.
            %input.form-control.input-lg{:placeholder => "Szukaj domówki :)", :type => "text"}/
            %span.input-group-btn
              %button.btn.btn-info.btn-lg{:type => "button"}
                %i.glyphicon.glyphicon-search

%section#about.tp--section.tp--features.tp--features-2.text-center
  .page-header.text-center.tp--title-overlay
    %h2{"data-title" => "MELANGE"}
      %span Co z nami możesz osiągnąć?
  .container
    .row
      .col-sm-4.tp--feature
        .tp--feature-wrapper.tp--hover-1
          .tp--icon-wrapper
          = image_tag 'home/home-02.jpeg', height: '120px', width: '200px'
          %h3 Król imprez
          %p Zbieraj punkty za udział w domówkach.
      .col-sm-4.tp--feature
        .tp--feature-wrapper.tp--hover-1
          .tp--icon-wrapper
          = image_tag 'home/home-03.jpeg', height: '120px', width: '200px'
          %h3 Najlepsze melażne
          %p Organizuj najlepsze domówki w okolicy.
      .col-sm-4.tp--feature
        .tp--feature-wrapper.tp--hover-1
          .tp--icon-wrapper
          = image_tag 'home/home-04.jpeg', height: '120px', width: '200px'
          %h3 Zgonuj z innymi
          %p Zbieraj nowych przyjacił i bawcie się razem.

%hr/

%section#about.tp--section.tp--features.tp--features-2.text-center
  .page-header.text-center.tp--title-overlay
    %h2{"data-title" => "MELANGE"}
      %span Nasze melanże!
  %br/
  #portfolio.tp--portfolio-grid{"data-isotope-options" => "{ \"columnWidth\": 200, \"itemSelector\": \".tp--portfolio-item\" }"}
    .col-sm-6.col-md-4.tp--portfolio-item.websites
      = image_tag 'home/home-05.jpeg', height: '200px', width: '300px'
      .caption
        .caption-text
          %h3 Projekt X
    .col-sm-6.col-md-4.tp--portfolio-item.websites
      = image_tag 'home/home-06.jpeg', height: '200px', width: '300px'
      .caption
        .caption-text
          %h3 Kameralne przyjęcie
    .col-sm-6.col-md-4.tp--portfolio-item.mobile
      = image_tag 'home/home-07.jpeg', height: '200px', width: '300px'
      .caption
        .caption-text
          %h3 Color Party


= image_tag 'home/home-08.jpeg', height: '350', width: '100%', class: 'margin-top'

%section#team.tp--section.tp--team.tp--team-2
  .page-header.text-center.tp--title-overlay
    %h2{"data-title" => "MELANGE"}
      %span Najmocniejsi menażowcy
  .owl-carousel.tp--slider-multiple
    .item
      = image_tag 'user-avatar4.jpg', class: 'display-pic'
      %h3.name Jan Nowak
      %h4.title Student PŚ
    .item
      = image_tag 'user-avatar5.jpg', class: 'display-pic'
      %h3.name Anna Hamerska
      %h4.title Studentka UJ
    .item
      = image_tag 'user-avatar2.jpg', class: 'display-pic'
      %h3.name Tomasz Nosiadek
      %h4.title Melanżowiec
    .item
      = image_tag 'user-avatar3.jpg', class: 'display-pic'
      %h3.name Sara Kamper
      %h4.title Królowa wina

%footer#footer.tp--footer.tp--footer-1.text-xs-center
  .container.back-img-foo
    .row
      .col-sm-3
        .footer-text
          %p 
            %b Platforma jest zrealizowana w ramach warsztatów i pasji studentów lubiących się napić ;)
      .col-sm-2.col-sm-offset-1.m-top-sm-40
        
      .col-sm-2.m-top-sm-40
        
      .col-sm-3.col-sm-offset-1
        %h3 Znajedziesz nas na: WSTI Katowice 
        by MelangeTeam
    .row.tp--social
      .col-lg-12.text-center.mar-bot-foo
        = image_tag 'home/fb.png', height: '30', width: '30'
        = image_tag 'home/insta.png', height: '30', width: '30'
        = image_tag 'home/twitter.png', height: '30', width: '30'
