= image_tag "logo.png"

= link_to "Strona główna", root_path
= link_to "Użytkownicy", users_path 
= link_to "Wydarzenia", events_path 
= link_to "Statystyki", statistics_path 
= link_to "O platformie", about_path 
= link_to "Kontakt", contact_path 
- if current_user
  = link_to "Wyloguj", destroy_user_session_path, method: :delete 
  Twój ID: #{current_user.id}
- else 
  = link_to "Zaloguj", new_user_session_path 