!!!
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    %meta{charset: "utf-8"}/
    %meta{content: "", name: "description"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title Melange
    / Place favicon.ico in the root directory
    %link{ href: "public/favicon.ico", rel: "shortcut icon"}/

  %body
    / Menu

    %h2.logo
      = image_tag 'menu/logo.png', class: 'logo-left tp--scroll'
      %a.tp--scroll{ href: "#intro" }
        %img.logo-main{ alt: "Melange", src: "images/logo.png" }/

      = render "shared/nav"
    = yield 

  %footer#footer.tp--footer.tp--footer-1.text-xs-center
    .container.back-img-foo
      .row
        .col-sm-3
          .footer-text
            %p 
              %b Platforma jest zrealizowana w ramach warsztatów i pasji studentów lubiących się napić ;)
        .col-sm-2.col-sm-offset-1.m-top-sm-40
          
        .col-sm-2.m-top-sm-40
          
        .col-sm-3.col-sm-offset-1
          %h3 Znajedziesz nas na: WSTI Katowice 
          by MelangeTeam
      .row.tp--social
        .col-lg-12.text-center.mar-bot-foo
          = image_tag 'home/fb.png', height: '30', width: '30'
          = image_tag 'home/insta.png', height: '30', width: '30'
          = image_tag 'home/twitter.png', height: '30', width: '30'
