!!!
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    %meta{charset: "utf-8"}/
    %meta{content: "", name: "description"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title Melange
    / Place favicon.ico in the root directory
    %link{ href: "public/favicon.ico", rel: "shortcut icon"}/

  %body
    / Menu

    %h2.logo
      = image_tag 'menu/logo.png', class: 'logo-left tp--scroll'
      %a.tp--scroll{ href: "#intro" }
        %img.logo-main{ alt: "Melange", src: "images/logo.png" }/

      = render "shared/nav"
    = yield 
